
div {
  &.card {
    max-height: 450px;
    min-height: 450px;
  }
}
i {
  cursor: pointer;
}

.card {
  // Tamaño fijo para la tarjeta
  width: 18rem;
  height: 100%; // Asegura que la tarjeta mantenga el tamaño uniforme

  // Estilo de transición para hover
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  // Efecto hover para tarjetas
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  // Estilo de imagen
  .card-img-top {
    height: 200px;
    width: 100%; // Asegura que la imagen cubra todo el ancho de la tarjeta
    object-fit: scale-down; 
  }

  // Estilo del cuerpo de la tarjeta
  .card-body {
    display: flex;
    flex-direction: column;
    overflow: hidden; // Asegura que el contenido no desborde

    // Asegura que el texto se ajuste y no desborde
    .card-text {
      text-overflow: ellipsis;

    }
  }
  // Estilo del pie de la tarjeta
  .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .d-flex {
      align-items: center;
    }

    i {
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #0056b3;
      }
    }
  }

  // Estilo del borde dinámico
  // &.border-success {
  //   border: 2px solid #28a745; // Color verde para libros compartidos
  // }

  // &.border-warning {
  //   border: 2px solid #ffc107; // Color amarillo para libros archivados
  // }
  // &.border-success {
  //   border: 2px solid transparent; // Borde transparente para permitir el gradiente
  //   background-image: linear-gradient(white, white), linear-gradient(45deg, #28a745, #a7ff83);
  //   background-origin: border-box;
  //   background-clip: content-box, border-box;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //   transition: transform 0.3s ease;
  // }
  
  // &.border-success:hover {
  //   transform: scale(1.05); // Aumenta ligeramente el tamaño al hacer hover
  // }
  
  // &.border-warning {
  //   border: 2px solid transparent; // Borde transparente para permitir el gradiente
  //   background-image: linear-gradient(white, white), linear-gradient(45deg, #ffc107, #ffecb3);
  //   background-origin: border-box;
  //   background-clip: content-box, border-box;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //   transition: transform 0.3s ease;
  // }
  
  // &.border-warning:hover {
  //   transform: scale(1.05); // Aumenta ligeramente el tamaño al hacer hover
  // }
  .status-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
  }
  
  .icon-success {
    background-color: #28a745;
  }
  
  .icon-warning {
    background-color: #ffc107;
  }

}
