<section class="vh-100 light-background">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card custom-card">
                    <div class="card-body p-5 text-black">
                        <form (ngSubmit)="login()">
                            <div class="d-flex align-items-center mb-3 pb-1">
                                <i class="fas fa-sign-in-alt fa-2x custom-icon"></i>
                                <span class="h1 fw-bold mb-0 custom-heading">Login</span>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">
                                Welcome back! Please login to your account.
                            </h5>

                            <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                                <p *ngFor="let msg of errorMsg">{{ msg }}</p>
                            </div>

                            <div class="form-outline mb-4">
                                <input [(ngModel)]="authRequest.email" type="email" id="login"
                                    class="form-control form-control-lg custom-input" placeholder="name@example.com"
                                    required name="email" />
                                <label class="form-label" for="login">Email address</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input [(ngModel)]="authRequest.password" type="password" id="password"
                                    class="form-control form-control-lg custom-input" placeholder="Password" required
                                    name="password" />
                                <label class="form-label" for="password">Password</label>
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block custom-button" type="submit">
                                    Sign in
                                </button>
                            </div>

                            <p class="mb-5 pb-lg-2" style="color: #333333;">
                                Don't have an account?
                                <button (click)="register()" type="button" class="btn btn-link custom-link">
                                    Register here
                                </button>
                            </p>
                            <a href="#!" class="small text-muted">Forgot password?</a>
                            <a href="#!" class="small text-muted">Privacy policy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>