i {
  cursor: pointer;
}

.reading {
  display: block; /* Hace que la imagen se trate como un bloque para centrado más fácil */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: 190px; /* Ajusta el ancho de la imagen (puedes cambiar el valor según necesites) */
  height: auto; /* Mantiene la proporción de la imagen */
}
